<div class="solic">
    <h4>Ordem de serviço</h4>
    <h4 class="number">{{ numeroOS }}</h4>
    <button class="ver" (click)="openModal()">Ver ordem</button>
    <p>Solicitante: {{ solicitante }}</p>
    <ng-content></ng-content>
    <hr>
    <button class="aprovar">Aprovar <i class="fa fa-check" aria-hidden="true"></i></button>
    <button class="recusar">Recusar <i class="fa fa-times" aria-hidden="true"></i></button>
</div>

<div class="" *ngIf="modalSwitch == true">
    <app-modal-os></app-modal-os>
</div>