@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap');
@import 'variaveis.scss';

.suas-ordens{
    margin: 0px 50px;

    table {
        border-collapse: separate;
        width: 100%;
        border: 1px solid $cor-linha;
        border-radius: 7px;
        padding: 5px 0px;
    }
    
    td {
        border: none;
        text-align: center;
        padding: 12px 0px;
        border-bottom: 1px solid $cor-linha;
        background-color: $branco;
    }

    thead td{
        font-weight: 600;
        color: #022916;
        padding: 20px 0px;
    }

    tr{
        padding-left: 40px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    button{
        border: 1px solid $button-tabela;
        background-color: $button-tabela;
        border-radius: 40px;
        color: $branco;
        width: 80px;
        height: 40px;
    }

    .id{
        color: $id-tabela;
    }

    .data{
        color: $data-tabela;
    }

    .green-background{
        //width: 10px;
        width: 179px;
        height: 5px;
        padding: 2px;
        border-radius: 38px;
        border: 1px solid $green-os;
        text-align: center;
    }

    .yellow-background{
        width: 179px;
        height: 5px;
        padding: 2px;
        border-radius: 38px;
        border: 1px solid $yellow-os;
        text-align: center;
    }

    .red-background{
        width: 179px;
        height: 5px;
        padding: 2px;
        border-radius: 38px;
        border: 1px solid $vermelho;
        text-align: center;
    }

    .bolinha {
        display: inline-block; /* Para a bolinha ficar ao lado do texto */
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
    
        .red-ball{
            background-color: $vermelho;
            width: 5%;
            border-radius: 38px;
            border: 1px solid $vermelho;
        }

        .yellow-ball{
            background-color: $yellow-os;
            width: 5%;
            border-radius: 38px;
            border: 1px solid $yellow-os;
        }

        .green-ball{
            background-color: $green-os;
         //   width: 5%;
            border-radius: 38px;
            border: 1px solid $green-os;
        }
    
    }
}
