<div class="txt-so">
    <p>Nessa página você encontra suas requisições de ordens de serviço</p>
</div>

<button type="button" [routerLink]="'/principal/home-coord'">
  Todas as ordens
</button>

<button type="button" [routerLink]="'/principal/registration'">
  Concluídas
</button>

<button type="button" [routerLink]="'/principal/aprovacoes'">
  Rejeitadas
</button>

<div class="suas-ordens">
    <table>
        <thead>
        <tr>
            <td>ID da ordem</td>
            <td>Status da ordem</td>
            <td>Data da atribuição</td>
            <td></td>
        </tr>
        </thead>
        <tbody *ngIf="ordens && ordens.length">
            <tr *ngFor="let ordem of ordensFiltradas "><!-- ordens$ | async-->

                <td class="id">{{ ordem.id }}</td>

                <td>
                  {{ ordem.estadoOrdemServico }}
                  <div class="bolinha"></div>
                </td>

                <td class="data">{{ ordem.dataOrdemServico }}</td>
                
                <td><button  (click)="openModel2()"> Ver
                </button></td> <!--ordem.bt-->

            </tr>
        </tbody>
        <tfoot *ngIf="!ordens.length">
            <tr>
                <td colspan="8">
                    <h4>
                        Nenhuma ordem encontrada!
                    </h4>
                </td>
            </tr>
        </tfoot>
    </table>

    <!--{{ordens | json}}-->

    <div class="" *ngIf="modalSwitch">
        <app-modal-os></app-modal-os>
    </div>

</div>

<!--<app-tabela-ordens></app-tabela-ordens>-->

