<div class="modal">
    <div class="modal-body">
      <button class="fechar" (click)="closeModal2()">X</button> <!--para o de ordens enviadar encaminhar o botão para ver ordens-->
      <h3 class="OS">{{ ordem.id }}</h3>
      <div class="local">
        <p class="bold">Local de ocorrência:</p>
        <p>{{ ordem.local }}</p>
      </div>
      <div class="data">
        <p class="bold">Data da atribuição:</p>
        <p>{{ ordem.data }}</p>
      </div>
      <div class="tipo">
        <p class="bold">Tipo do equipamento:</p>
        <p>{{ ordem.tipo }}</p>
      </div>
      <div class="status">
        <p class="bold">Status:</p>
        <p>{{ ordem.status }}</p>
      </div>
      <div class="posicao">
        <p class="bold">Posição do equipamento:</p>
        <p>{{ ordem.posicao }}</p>
      </div>
      <div class="serial">
        <p class="bold">Serial do equipamento:</p>
        <p>{{ ordem.serial }}</p>
      </div>
      <div class="descricao">
        <p class="bold">Descrição do problema:</p>
        <p>{{ ordem.descricao }}</p>
      </div>
      
    </div>
  </div>
