<div class="modal" id="myModal">
    <div class="modal-body">
        <button class="fechar" (click)="closeModal()">X</button> <!--para o de ordens enviadar encaminhar o botão para ver ordens-->
        <h1>Enviado!</h1>
        <p>Ordem de serviço enviada com sucesso</p>
        <i class="fa fa-check-circle-o" id="right-icon" aria-hidden="true"></i>
        <button class="submit">Ver ordens</button>
    </div>
</div>




<!--<div class="modal {{ size }}">
    <div class="modal-header">
        {{ title }}
        <span class="modal-close" (click)="close()">x</span>
    </div>
    <div class="modal-content">
        <p>Ordem de serviço enviada com sucesso</p>
    </div>
    <div class="modal-footer">
        <button (click)="submit()">Submit</button>
    </div>
</div>

<div class="modal-backdrop" (click)="close()"></div>-->

<!--
<div class="modal">
    <div class="modal-conteudo">
        <span class="fechar">&times;</span>
        <h3>Enviado!</h3>
        <p>Ordem de serviço enviada com sucesso</p>
    </div>
</div>-->